*{
    /* border: solid 1px #eee; */
    box-sizing: border-box;
	font-family: "Roboto", sans-serif;
}

 html,body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body{
    background-color: #E8E8E8;
    display: flex;
    align-items: center;
    justify-content: center;
} 

.calcultor{
    width: 350px;
    height: 525px;
    border-radius:  20px;
    background: #062145 0% 0% no-repeat padding-box;
    box-shadow: 0px 20px 40px #00000066;
}

.head{
    width: 350px;
    height: 109px;
    background: #041936 0% 0% no-repeat padding-box;
    border-radius: 20px 20px 0px 0px;
    opacity: 1;
}

.head .input{
    color: #fff;
    padding: 15px;
    text-align: right;
}

.allbtn{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    padding: 8px;
    font-size: 24px;
    font-weight: 300;
}

.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 72px;
    height: 64px;
    outline: none;
	border: none;
	background: transparent;
	color: #fff;
	cursor: pointer;
	font-size: inherit;


}
.btnmar{
    margin-bottom: 16px;
}

.btnba{
    background: #041936 0% 0% no-repeat padding-box;
    border-radius: 16px;
    font-weight: bold;
}

.equals{
    width: 155px;
    height: 64;
    background: -webkit-linear-gradient(left,#00C4FF,#6C00FF);
    background: -o-linear-gradient(right,#00C4FF,#6C00FF);
    background: -moz-linear-gradient(right,#00C4FF,#6C00FF);
    background: linear-gradient(to right,#00C4FF,#6C00FF);
    border-radius: 16px;
    font-weight: bold;
    text-align: right !important;
 
}