*{
	/* border: solid 1px black; */
	box-sizing: border-box;
	font-family: 'Roboto Condensed';
	font-weight: bold;
}

body{
	background-color: #FF9D00;
}

.top{
	display: flex;
	justify-content: center;
	align-items: center;
}

.sec{
	font-size: 260px;
	width: 315px;
	color: #fff;
	text-shadow: 12px 0px 0px #000000;
}

.secchallenge{
	position: relative;
	width: 615px;
	font-size: 96px;
	padding-left: 24px;
}

.operatorlogo{
	position: absolute;
	right: 0px;
    top: 30px;
	font-size: 44px;
	
	color: #fff;
}
.operatorlogo::before{
	position: absolute;
	content: '';
	background-color: #fff;
	width: 100%;
	height: 4px;
	bottom: 0px;
}
.operatorlogo::after{
	position: absolute;
	content: '';
	background-color: #fff;
	width: 100%;
	height: 4px;
	left: 0px;
	bottom: -08px;
}

.bottom{
	display: flex;
	flex-direction: column;
	width: 350px;
	margin: 0 auto;
	margin-top: 104px;
}

.start{
	height: 58px;
	font-size: 36px;
	text-align: center;
	background-color: #000;
	color: #FF9D00;
	padding-top: 5px;
	cursor: pointer;
}

.text{
	font-size: 24px;
	font-style: italic;
	color: #fff;
	margin: -2px;
}

.starttop{
	display: flex;
	justify-content: center;
	margin-top: 150px;
}

.secchallenge2{
	width: 400px;
	font-size: 30px;
	text-align: center;
	border: solid 4px #fff;
	color: #fff;
}

.score{
	width: 135px;
	height: 50px;
	font-size: 30px;
	padding: 3px 14px;
	background-color: #fff;
	color: #FF9D00;
}

.time{
	font-size: 96px;
	margin-left: 128px;
	font-style: italic;
	color: #fff;
}

.startbottom{
	display: flex;
	justify-content: center;
	margin-top: 104px;
}

.math{
	display: flex;
	width: 445px;
	font-size: 112px;
	font-weight: bold;
}

.answer{
	width: 320px;
	font-size: 112px;
	padding-left: 64px;
	margin-left: 79px;
	background-color: #fff;
	color: #000;
}
